<div class=" container d-flex justify-content-center mt-5">
    <div>
        <div>
            <h1 class="titrePierre orange container mt-5">PIERRE</h1>
            <h1 class="titreNogaro orange container">NOGARO</h1>
        </div>

        <div class="d-flex container justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <h3 class="text-white">LYON</h3>
                <button type="button" class="btn bg-orange ms-3">En Savoir Plus !</button>
            </div>
        </div>
        <h5 class="container text-white mt-3">Etudiant en Développement Web & Design à l'ESD.</h5>
    </div>
    <div class="imagePierre">
        <img src="{{ asset('images/pierre.png') }}" alt="Pierre">
    </div>
</div>

<div class="bg-orange">
    <div class="container d-flex">
        <div>
            <img class="pierreCoding mt-5 mb-5" src="{{ asset('images/pierreCoding.jpg') }}" alt="">
        </div>

        <div class="m-5">
            <h1 class="text-white">Hello,</h1>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab adipisci <span class="text-dark">deserunt distinctio odit quibusdam</span> tempora voluptate? Asperiores at aut delen
                iti ipsum molestiae optio quod ratione reiciendis velit? Alias, amet animi aspernatur assumend
                a consequatur doloremque dolores enim <span class="text-dark">eum id iste iure libero, obcaecati,</span> perspiciatis placeat porro
                qui sint tenetur totam vero.
            </p>
            <hr class="text-white">

            <div class="d-flex">
                <div>
                    <h6>NOM : <span class="text-white">Pierre Nogaro</span></h6>
                    <h6 class="mt-4">ÂGE : <span class="text-white">20 Ans</span></h6>
                </div>

                <div class="ms-5">
                    <h6>JOB : <span class="text-white">Développeur Web & Designer</span></h6>
                    <h6 class="mt-4">VILLE : <span class="text-white">Lyon</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

