<div class="bg-orange">
    <div class="container text-center mt-5 mb-5">
        <h1 class="mt-5">MES SERVICES :</h1>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                        <div class="noir text-white card mx-2" style="width: 18rem;">
                            <div class="card-body text-center">
                                <h5 class="orange card-title">Maquette Figma</h5>
                                <p class="card-text">Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.</p>
                                <a href="#" class="mt-5 btn bg-orange" data-bs-toggle="modal" data-bs-target="#serviceModal" data-bs-whatever-title="Maquette Figma" data-bs-whatever-description="Création de maquettes Figma pour vos futurs sites internet ou applications, assurant un design moderne et fonctionnel.">En Savoir Plus !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="serviceModalDescription">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>