<div class="container">
    <div class="container mt-5 mb-5 justify-content-between d-flex mt-5">
        <div>
            <h5 class="orange">Développement Web</h5>
            <div class="text-white">
                <p>HTML & CSS</p>
                <p>Bootstrap</p>
                <p>JavaScript</p>
                <p>PHP</p>
            </div>

            <h5 class="orange mt-5">Bases de Données</h5>
            <div class="text-white">
                <p>PhpMyAdmin</p>
                <p>pgAdmin - PostgreSQL</p>
            </div>
        </div>

        <div>

            <h5 class="orange Design">Design & Web Design</h5>
            <div class="text-white">
                <p>Adobe Photoshop</p>
                <p>Adobe InDesign</p>
                <p>Adobe Illustrator</p>
                <p>Figma</p>
            <h5 class="orange mt-5">CMS</h5>

            <div class="text-white">
                <p>WordPress</p>
            </div>
            </div>
        </div>

        <div>

            <h5 class="orange">Autres</h5>
            <div class="text-white">
                <p>Ubuntu</p>
                <p>Linode</p>
                <p>YouTrack</p>
                <p>Mise en Production</p>
            </div>
            <h5 class="orange mt-5">Framework</h5>
            <div class="text-white">
                <p>Symfony</p>
            </div>
        </div>
    </div>
</div>
